*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
   text-decoration: none; 
}

li a:hover:not(.active) {
    background-color: rgb(47, 201, 8);
  }
  
  .active {
    background-color: #4CAF50;
  }
  
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: poppins;
}
.container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container > *{
    padding: 20px;
}
.nav-area{
    background: #262626;
}
.nav-area nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-area ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    order: 1;
    width: 100%;
    margin-top: 15px;
}
.nav-area nav a{
    color: #fff;
}
.logo{
    color: #fff;
}
.nav-area ul li:not(:last-child){
    padding-right: 15px;
}
.banner-area{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: 300px;
    background-image: url(tempic.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
.banner-area div{
    max-width: 500px;
}
.bannner-area h1{
    margin-bottom: 20px;
    font-size: 28px;
}
.banner-area a{
    background: crimson;
    display: inline-block;
    margin-top: 7%;
    padding: 15px 40px;
    border-radius: 50px;
    color: #fff;
}
@media screen and (min-width: 550px){
    .nav-area ul{
        width: auto;
        margin-top: 0;

    }
}
@media screen and (min-width: 768px){
    body{
        font-size: 18px;
    }
    .banner-area{
        padding-left: 60px;
    }
    .banner-area h1{
        font-size: 30px;
    }
    .nav-area{
        padding: 20px 80px;
    }
}






