




<html>
    <style>
        .center {
            margin:auto;
            width: 80%;
            border: 3px solid #73AD21;
            height:max-content;
            padding: 10px;
        }

        


        
    </style>
    <link rel="stylesheet" href="/static/images/style3.css">
<body>
    <div class="container">
    <header class="nav-area">
        <nav>
            <h2 class="logo" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">FDS</h2>
            <ul style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <li><a href='{% url "index"%}'>Home</a></li>
                <li><a href='{% url "call"%}'>Tools</a></li>
                <li><a href='{% url "contact"%}'>Contact Us</a></li>
            </ul>
         </nav> 
    </header>
    <div class="banner-area" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <div class="center">
            This is a fraud case.
<br>
<br>
<b>Statistics</b>
<p>No. of fraudlent cases:
    {{ some_string }}
</p>    
<p>No.of valid cases:
    {{ some_other }}
</p>        
<p>Fraction of fraudlent cases:
    {{ other_other }}   
</p>
<a href="http://www.cybercelldelhi.in/onlinetransactions.html" target="_blank">Click here for further assistance.</a>
            
        </div>
    </div>
    </div>
</body>
</html>